[submodule "opencv"]
	path = opencv
	url = git@github.com:Inokenty90/opencv.git
	branch = v3.4.13
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = git@github.com:Inokenty90/opencv_contrib.git
	branch = v3.4.13
[submodule "STAF"]
	path = STAF
	url = git@github.com:soulslicer/STAF.git
	branch = staf
[submodule "blender"]
	path = blender
	url = https://git.blender.org/blender.git
	branch = blender-v2.83-release
